.zoteroButton >a > .buttonicon
{
    background-image: url('../../static/images/zotero.png');
}

.test
{
    color: red;
}

.modal
{
    top: 10%;
    right: 30%;
    left: 30%;
    overflow-y: auto;
}

.modal .modal-body label
{
    padding-right: 20px;
}

.modal .btn-primary.sort
{
    margin-left: 10px;
    padding: 0 12px;
}

.modal .ajax-loading
{
    background: url("/static/plugins/ep_zotero/static/images/ajax-loader.gif") no-repeat 344px;
}
.modal .groups-libraries
{
    margin-top: 20px;
}

/* Bootstrap fixes */

.toolbar
{
    font-size: 62.5%;
}

.modal .table tbody>tr>td
{
    vertical-align: middle;
}

.modal-body
{
    max-height: 330px;
    overflow: auto;
}

.modal-dialog
{
    width: auto;
}
